@tailwind base;
@tailwind components;
@tailwind utilities;

/* adjust the url path to fit! */
@font-face {
  font-family: 'IdentityFont';
  src:  url('/LTAIdentity-Medium.woff2') format('woff2'),
        url('/LTAIdentity-Medium.woff') format('woff');
}
@media only screen and (min-width: 600px) {
  body {
    overflow: hidden;
  }
}

.slide-left-exit {
  max-width: 300px;
  opacity: 1;
}

.slide-left-exit-active {
  max-width: 0;
  opacity: 0;
  transform: translateX(-20%);
  transition: all 500ms;
}

.slide-up-exit {
  max-height: 300px;
  opacity: 1;
}

.slide-up-exit-active {
  max-height: 0;
  opacity: 0;
  transform: translateY(20%);
  transition: all 500ms;
}