@tailwind base;
@tailwind components;
@tailwind utilities;

/* adjust the url path to fit! */
@font-face {
  font-family: 'IdentityFont';
  src:  url('/LTAIdentity-Medium.woff2') format('woff2'),
        url('/LTAIdentity-Medium.woff') format('woff');
}
@media only screen and (min-width: 600px) {
  body {
    overflow: hidden;
  }
}


/* .fade-enter {
  max-widt: 0;
  opacity: 0;
}

.fade-enter-active {
  max-width: 30px;
  opacity: 1;
  transition: all 500ms;
} */

.fade-exit {
  max-width: 300px;
  opacity: 1;
}

.fade-exit-active {
  max-width: 0;
  opacity: 0;
  transform: translateX(-20%);
  transition: all 500ms;
}